$color-white: white;
$color-black: black;
$color-pink: #E07A5F;
$color-green: #337632;
$color-bg-section: #E07A5F;
$color-bg-footer: #E07A5F;

$font-base: 10px;

$grid-base: $font-base;

$gutter: 1.5 * $grid-base;

$bp-md: 700px;

$bp-lg: 1200px;